<h3>A Better Way To Find Talent</h3>

Instantly create custom outreach emails tailored to each candidate.

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="recruiter_file">Recruiter Resume</label>
  <input type="file" name="recruiter_file">
  <label for="candidate_file">Candidate Resume</label>
  <input type="file" name="candidate_file">
  <button type="submit">Upload</button>
</form>

{% if uploaded_file_json %}
  <p>Here is the parsed JSON of the recruiter PDF:</p>
  <code>
    {{ uploaded_file_json }}
  </code>

  <p>Here is the parsed JSON of the candidate PDF:</p>
  <code>
    {{ uploaded_file_json_2 }}
  </code>

  <p>And here's an example genereated letter:</p>
  <code>
    {{ generated_text }}
  </code>
{% endif %}

<a href="{% url 'profile' %}">Connect with Linkedin</a>