.card {
  height: 360px;
  width: 200px;
  text-align: center;

  img {
    margin-top: 4em;
    margin-bottom: 5em;
    width: 8em;
  }

  h2 {
    font-family: "avenirNext";
    color: #fff;
    line-height: 38px;
    letter-spacing: 1.15px;
    font-size: 1.6em;
    text-align: center;

    span {
      display: block;
    }
  }
}

.card::after {
  content: "";
  position: relative;
  top:0;
  left: 0;
  padding: 360px 100px 0;
  border-radius: 3px;
  background: #42445C;
  z-index: -1;
  opacity: 0.65;
}
