.info {
    img {
        width: 50px;
    }

    h3 {
        color: #43484D;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 25px;
    }

    p {
        font-size: 16px;
        color: #86939E;
        letter-spacing: 0;
        line-height: 25px;
    }
}

@media (max-width: 576px) {
    .info {
        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }
}
