.gradient {
    height: 100%;
}

.resume {
    padding-top: 80px;
    padding-bottom: 40px;

    h2, h3, h4, ul, button {
        color: #FFFFFF;
    }
}

.upload-box {
    margin-top: 3em;
    padding: 2em 4em 4em;
    text-align: center;
    background: #4e4376;
    border-radius: 2px;

    h4 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 32px;
    }

    .ant-upload {
        width: 128px;
        height: 128px;
        border-radius: 4px;
        background-color: #fafafa;
        text-align: center;
        cursor: pointer;
        -webkit-transition: border-color 0.3s ease;
        transition: border-color 0.3s ease;
        vertical-align: top;
        display: table;
        margin: 0 auto;

        span {
            width: 100%;
            height: 100%;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            padding: 8px;
        }

        i {
            font-size: 32px;
            color: #999;
        }
    }

    .ant-upload-list-item {
        background: #fff;
        border-radius: 2px;
        width: 90%;
        margin: 0 auto;
    }

    .ant-btn {
        font-family: "avenirNext";
        font-weight: "bolder";
        font-size: 15px;
        background: #3DD1AF;
        border-radius: 3px;
        margin-top: 40px;
        margin-left: 10px;
        border-color: #3DD1AF;
        min-width: 175px;
        height: 50px;

        &:hover {
            color: #FFFFFF;
            background-color: #52d6b8;
            border-color: #52d6b8;
        }

        &:focus {
            color: #FFFFFF;
            border-color: #36bc9d;
            background-color: #36bc9d;
        }
    }
}

.upload-box::after {
    content: "";
    top: 0;
    left: 0;
    position: relative;
    background: #42445C;
    opacity: 0.74;
    z-index: -1;
}

//@media (max-width: 768px) { }

@media (max-width: 650px) {
    .upload-box {
        padding-top: 40px;
        padding-left: 2em;
        padding-right: 2em;

        h4 {
            font-size: 15px;
        }

        .ant-btn {
            font-size: 13px;
        }
    }
}
