.testimonials {
  margin-top: 30px;
  margin-bottom: 30px;

  .ant-carousel {
    .slick-slide {
      height: 220px;
      line-height: 160px;
      background: #FFF;
      overflow: hidden;
    }

    .slick-dots li button {
      background-color: black;
    }
  }

  .photo {
    img {
      float: right;
      margin-top: 15px;
      width: 120px;
      height: 120px;
      border-radius: 4px;
    }
  }

  .quote {
    height: 120px;
    font-family: "avenirNext";
    font-size: 22px;
    color: #43484C;
    letter-spacing: 0;
    line-height: 46px;
    margin-bottom: 1em;
  }

  .author {
    font-weight: bold;
    font-size: 15px;
    color: #43484D;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0;
  }

  .profession {
    font-size: 13px;
    color: #86939E;
    letter-spacing: 0;
    line-height: 25px;
  }
}
